[Unit]
Description=Smart Key Box

[Service]
ExecStart=/home/pi/key-and-rpi/.env/bin/python3 /home/pi/key-and-rpi/service_test.py
Restart=always
Type=simple

[Install]
WantedBy=multi-user.target
